{% extends "base.html" %} 

{% block content %}
    <div id="loginWrapper">
      <h1>citycheck</h1>
      <h2>Signup</h2>
        
        <div>
          {% if error %}<p class="error">{{ error }}</p>{% endif %}
          <form id="signupForm" method="post" action="/signup">
            <div>
            <label for="username">Username: </label>
            <input type="text" name="username" required autofocus>
            </div>

            <div>
            <label for="password">Password: </label>
            <input type="password" name="password" required>
            </div>
            
            <div>
            <label for="password2">Confirm Password: </label>
            <input type="password" name="password2" required>
            </div>

            <button type="submit" id="submitSignup">Signup</button>
          </form>
        </div>
    </div>
{% endblock %}
